.custom-card:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 16px;
}

.home-container {
  padding-bottom: 70px;
}

.card-header {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-header p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.card-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.card-job-title {
  font-size: 14px;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

.card-bottom {
  padding: 14px 10px;
}

.card-likes {
  font-size: 14px;
  margin-bottom: 8px;
}

.card-description {
  font-size: 14px;
  margin-bottom: 0px;
}

.card-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.card-actions .buttons {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
}

.card-actions .buttons button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-actions i {
  font-size: 22px;
}

.price-tag {
  font-size: 14px;
  background-color: var(--accent-background-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--accent-color);
}

.username {
  font-weight: bold;
  /* color: var(--accent-color); */
}

.like-icon * {
  /* color: rgb(205, 34, 34) !important; */
}

.send-icon * {
  /* color: rgb(84, 138, 209) !important; */
}

.card-image {
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
