@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --app-width: 400px;
    --accent-rgb: 255, 98, 0;
    --accent-color: rgba(var(--accent-rgb), 1);
    --accent-background-color: rgba(var(--accent-rgb), 0.15);
    --accent-background-color-hover: rgba(var(--accent-rgb), 0.20);
}

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 1) !important;
    font-family: 'Poppins', sans-serif;
}

.app-container {
    max-width: var(--app-width);
    margin: 0 auto;
}

.custom-navbar {
    padding: 6px 0;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: calc(var(--app-width) + 4px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-navbar a {
    color: white;
}

.custom-navbar a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.custom-header {
    padding: 10px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: black;
    max-width: calc(var(--app-width) + 4px);
    left: 50%;
    transform: translateX(-50%);
}

.custom-header h1 i {
    font-size: 22px;
}

.custom-header i {
    color: var(--accent-color);
}

.header-search {
    font-size: 14px;
    border: none;
    padding: 8px 14px;
    color: var(--accent-color);
    background: var(--accent-background-color);
    border-radius: 10px;
}

.header-search:hover {
    background: var(--accent-background-color-hover);
}

.custom-header h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color);
}

.main-content {
    padding-top: 60px;
}